<!DOCTYPE html>
<html>
  <head>
    <title>demo!</title>
    <link
      href="{{ url_for('static',filename='styles/about.css') }}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="navbar">
      <a class="active" href="about">About Us</a>
      <a class="active" href="products">Products</a>
      <a class="active" href="gad-form">GAD-7</a>
      <a class="active" href="/">Home</a>
      <div id="rasa-chat-widget" data-websocket-url="http://0.0.0.0:5005" data-height="450"></div>
      <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
    </div>
    <section class="about-section">
      <div class="about-title">
        <img src="static/styles/1.png" alt="logo" width="350" height="350" />
      </div>
      <div class="content-container">
        <h2>About Us</h2>
        <p>
          At Happify Me, we are dedicated to supporting and enhancing the mental
          well-being of individuals, helping them lead happier and more
          fulfilling lives. <br />
          Our mission is to provide innovative solutions that promote positive
          moods and empower people to overcome challenges. We believe that
          mental health is a crucial aspect of overall well-being, and our goal
          is to make a meaningful difference in the lives of our users. We
          understand that life can be challenging, and everyone deserves the
          tools and support to navigate those challenges with resilience and
          optimism.
        </p>
      </div>
    </section>
  </body>
</html>
