<!DOCTYPE html>
<html>
  <head>
    <title>demo!</title>
    <link href="{{ url_for('static',filename='styles/about.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar">
      <a class="active" href="/">Home</a>
      <a class="active" href="products">Products</a>
      <a class="active" href="gad-form">GAD-7</a>
      <a class="active" href="about">About Us</a>
    </div>
    <section class="about-section">
      <div class="about-title">
        <h1>HAPPIFY</h1>
        <h2>ME</h2>
      </div>
      <div class="content-container">
        <h2>About Us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus
          vestibulum risus ut iaculis. Vestibulum tincidunt lectus sed elit
          semper ultrices.
        </p>
      </div>
    </section>
  </body>
</html>
