<!DOCTYPE html>
<html>
  <head>
    <title>demo!</title>
    <!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <div class="navbar">
      <a class="active" href="/">Home</a>
      <a class="active" href="products">Products</a>
      <a class="active" href="gad-form">GAD-7</a>
      <a class="active" href="about">About Us</a>
      <div id="rasa-chat-widget" data-websocket-url="http://0.0.0.0:5005" data-height="450"></div>
      <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
    </div>
    <!-- <div class="card">
      <div class="card-content">
        <div class="svg-container">
          <img src="health.svg" alt="SVG Image" />
        </div>
        
        <h3>Find more joy</h3>
        <p>
          Catch your breath, relax your mind, and feel 14% less stressed in just
          10 days.
        </p>
      </div>
      <div class="card-content">
        <div class="svg-container">
          <img src="family.svg" alt="SVG Image" />
        </div>

        <h3>Get more goodnights</h3>
        <p>
          Put your mind to bed, wake up refreshed, and make good days your new
          normal.
        </p>
      </div>
      <div class="card-content">
        <div class="svg-container">
          <img src="brain.svg" alt="SVG Image" />
      </div>

        <h3>Make every day happier</h3>
        <p>
          Do it for yourself, and everyone you love. It only takes a few minutes
          to find some headspace.
        </p>
      </div> -->
    </div>
  </body>
</html>
