<!DOCTYPE html>
<html>
  <head>
    <title>demo!</title>
    <link
      href="{{ url_for('static',filename='styles/products.css') }}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="navbar">
      <a class="active" href="about">About Us</a>
      <a class="active" href="products">Products</a>
      <a class="active" href="gad-form">GAD-7</a>
      <a class="active" href="/">Home</a>
      <div id="rasa-chat-widget" data-websocket-url="http://0.0.0.0:5005" data-height="450"></div>
      <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
    </div>
    <section class="product-title">
      <h1>Our Products</h1>
    </section>
    <section class="products-section">
      <div class="product">
        <h3>Online Counseling</h3>
        <br />
        <p>
          Access professional counselors for personalized support and guidance.
          Our online counseling service provides a convenient and confidential
          platform to connect with licensed therapists from the comfort of your
          own space. Whether you're dealing with stress, anxiety, depression, or
          other mental health concerns, our experienced counselors are here to
          help.
        </p>

        <a href="online-counseling.html" class="btn">Learn More</a>
      </div>
      <div class="product">
        <h3>Mental Health Articles</h3>
        <br />
        <p>
          Read informative articles and insights on various mental health
          topics.
        </p>
        <p>
          Our collection of mental health articles offers valuable information
          and insights on a wide range of topics. Written by mental health
          experts, these articles cover subjects such as anxiety, depression,
          stress management, self-care, relationships, and much more.
        </p>
        <a href="mental-health-articles.html" class="btn">Learn More</a>
      </div>
      <div class="product">
        <h3>Chatbot</h3>
        <br />
        <p>
          Engage with our interactive chatbot for instant responses and
          self-help resources.
        </p>
        <a href="chatbot.html" class="btn">Learn More</a>
      </div>
    </section>
  </body>
</html>
